@import "../../styles/variables";
@import "../../styles/mixins";

.login-page {
    width: 100%;
    height: 100vh;
    @include horizontal-list;
    color: white;

    .login-left {
        width: 50%;
        @include vertical-list;
        justify-content: center;
        align-items: center;

        .login-left-content {
            background-color: $dark-gray;
            padding: 3rem;
            border-radius: 1rem;
            @include vertical-list;
            align-items: left;
            gap: 3rem;

            .login-logo {
                margin-bottom: 1rem;

                img {
                    width: 200px;
                }
            }

            .title {
                text-align: center;

                h1 {
                    margin-bottom: 0.8rem;
                }
            }

            .btn-Submit {
                margin-top: 1rem;
            }
        }
    }
    
    .login-right {
        width: 50%;
        @include vertical-list;
        justify-content: center;
        
        img {
            width: 90%;
        }
    }
}

.links {
    width: 100%;
    @include horizontal-list;
    justify-content: space-between;
}
