/* GRID COLUMNS */

$col-1: calc(8.33% * 1);
$col-2: calc(8.33% * 2);
$col-3: calc(8.33% * 3);
$col-4: calc(8.33% * 4);
$col-5: calc(8.33% * 5);
$col-6: calc(8.33% * 6);
$col-7: calc(8.33% * 7);
$col-8: calc(8.33% * 8);
$col-9: calc(8.33% * 9);
$col-10: calc(8.33% * 10);
$col-11: calc(8.33% * 11);
$col-12: calc(8.33% * 12);


/* COLORS */

$dark-gray: #101213;
$soft-gray: #17181C;
$gray: #1D1F20;
$light-gray: #2D3338;
$border-color: rgba(128, 128, 128, 0.23);
$pastel: #825fff;
$violet: #4d00ff;
$rouge: #E74C3C;
$bleu: #3498DB;
$vert: #2ECC71;
$jaune: #F1C40F;


/* TEXT */

$text-primary: rgba(255, 255, 255, 0.5);
$text-white: rgb(255, 255, 255);
$font-text: 'Nunito', sans-serif;
$text: 12px;
$text-small: 10px;

